extends layout

block layout-content
  div.View
    main
      section.mainimg 
        img(src='/images/mainimg.jpg')
        //https://unsplash.com/photos/2TLREZi7BUg
      section.lovedBrands 
        h2 Most-Loved Brands 
        .loveBrands
          each lb in lovedbrands 
            .brand
              a(href=lb.path)
                img(src=lb.imgsrc, alt=lb.imgalt)
                //https://unsplash.com/photos/HmgSNpswOxM
                h3 #{lb.name}
                p #{lb.discount}