extends layout

block layout-content
  div.View
    main
      section.lovedBrands 
        h2 #{jacket.name}
        .loveBrands
            each image in jacket.imgsrc
                .jacket
                    img(src=image, alt=jacket.imgalt)
                    //https://pixabay.com/photos/woman-brunette-denim-jacket-fashion-2564660/
                    //https://pixabay.com/photos/woman-standing-street-sidewalk-6917317/
                    //https://pixabay.com/photos/people-lady-woman-denim-jacket-2589566/
                    //https://pixabay.com/photos/woman-blonde-boom-box-retro-5750686/
        .details
            h3 #{jacket.name}
            p #{jacket.price}
            p #{jacket.type}
            p #{jacket.color}
            p #{jacket.description}
            p #{jacket.size}