extends layout

block layout-content
  div.View
    main
      section.lovedBrands 
        h2 #{jacket.name}
        .loveBrands
            each image in jacket.imgsrc
                .jacket
                    img(src=image, alt=jacket.imgalt)
                    //https://unsplash.com/photos/HmgSNpswOxM
        .details
            h3 #{jacket.name}
            p #{jacket.price}
            p #{jacket.type}
            p #{jacket.color}
            p #{jacket.description}
            p #{jacket.size}