extends layout

block layout-content
  div.View
    main
      section.lovedBrands 
        h2 Levi's 
        .loveBrands
          each levisCloths in levis
            .levis
              a(href=levisCloths.path)
                img(src=levisCloths.imgsrc[0], alt=levisCloths.imgalt)
                //https://unsplash.com/photos/HmgSNpswOxM
                h3 #{levisCloths.name}
                p #{levisCloths.price}