extends layout

block layout-content
  div.View
    main
      section.lovedBrands 
        h2 Levi's 
        .loveBrands
          each levisCloths in levis
            .levis
              a(href=levisCloths.path)
                img(src=levisCloths.imgsrc[0], alt=levisCloths.imgalt)
                //https://pixabay.com/photos/woman-brunette-denim-jacket-fashion-2564660/
                //https://pixabay.com/photos/girl-jeans-denim-boots-fashion-925635/
                //https://pixabay.com/photos/boots-denim-fashion-fence-footwear-1853956/
                h3 #{levisCloths.name}
                p #{levisCloths.price}